@model IEnumerable<VinylStore.ViewModels.VinylShortViewModel>

@*@await Html.PartialAsync("oui bonsoir")*@

    <div class="text-white">
        <h2>Vinyls of the month</h2>
        <h4>Here's the most popular vinyls</h4>
        <p>
            affichage des vinyles les plus populaires sur le site
        </p>
    </div>




