@model IEnumerable<VinylStore.ViewModels.VinylShortViewModel>


@*@await Html.PartialAsync("oui bonsoir")*@

<h2>Vinyls of the month</h2>
<h4>Here's the most popular vinyls</h4>

<div class="row">

    affichage des vinyles les plus populaires sur le site

</div>

