@model VinylStore.Component.UserMenuItem


<li class="nav-item dropdown">
    <a asp-controller="Account"
       asp-action="Index" class="nav-link dropdown-toggle" data-toggle="dropdown">
        @User.Identity.Name<b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Collection" asp-action="DisplayMyCollection">COLLECTION</a>
        </li>
        <li>
            <a asp-controller="Collection" asp-action="DisplayMyCollection">FOR SALE</a>
        </li>
        <li>
            <a asp-controller="Wantlist" asp-action="DisplayMyWantlist">WANTLIST</a>
        </li>
        <li>
            <form asp-controller="Account" asp-action=@Model.ActionValue id="logoutForm" method="post">
                <a href="javascript:document.getElementById('logoutForm').submit()">@Model.DisplayValue</a>
            </form>
        </li>

    </ul>
</li>

