@model SearchVinyl

@{
    ViewData["Title"] = "Search Result";
}

<h1>Search result</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.results)
        {
            if (item.format != null)
            {
                if (item.format.Contains("Vinyl"))
                {
                    <tr>
                        <td><img src="@item.cover_image" alt="Alternate Text" height="150" width="150" /></td>
                        <td> @item.title</td>
                        <td>@Html.ActionLink("Add to my collection", "AddToUserCollection", "Collection", new { albumName = item.title, genre = item.genre, imageUrl = item.cover_image, releaseYear = item.year, format = item.format })</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
