
@{
    ViewData["Title"] = "Search artists or albums";
}
    <div class="text-white">
        <form action="SearchByAlbum" method="post">

            <div>
                <input type="text" placeholder="Search by album name" name="query" />
                <button type="submit">
                    Search
                </button>
            </div>
        </form>
    </div>
    

