
@{
    ViewData["Title"] = "Search artists or albums";
}

    <form action="Search" method="post">

        <div>
            <input type="text" placeholder="Search" name="query"/>
            <button type="submit">
                Search
            </button>
        </div>
    </form>

