@model IEnumerable<Vinyl>

@{
    ViewData["Title"] = "My Collection";
}

<h1>MyCollection</h1>



<p>vous avez comme id : @ViewBag.UserId et comme nom : @ViewBag.UserName</p>

<p>Votre collection :</p>

@foreach (var vinyl in Model)
{
    <p>@vinyl.AlbumName</p>
    <img src="@vinyl.ImageUrl" alt="l'image n'est pas dispo" />

}

