@model IEnumerable<VinylStore.ViewModels.VinylShortViewModel>

@{
    ViewData["Title"] = "My Wantlist";
}

    <h1>My Wantlist</h1>

<p>Your Wantlist :</p>

@foreach (var vinyl in Model)
{
    <p>@vinyl.AlbumName</p>
    <img src="@vinyl.ImageUrl" alt="l'image n'est pas dispo" />

}

